.aside
  padding 60px 0 60px 40px
  overflow auto
  .basic-info
    .avatar
      width 90px
      margin 0 auto
      height 90px
      vertical-align middle
      box-sizing border-box
      padding 0
      img
        width 100%
        height 100%
        border-radius 100%
        vertical-align middle
        border 2px solid $gainsboro
        box-sizing border-box
        background-position center
        &:hover
          border 2px solid $orange
    .intro
      width 90%
      margin 10px auto
      text-align center
    .sns
      width 80%
      margin 20px auto
      text-align center
      i
        padding 0 3px
        font-size $font-size-larger


.aside
  .blog-info
    font-size $font-size-small
    width 100%
    text-align center
    .source-info
      a
        text-decoration underline


i.icon-weibo
  color #E86372
  &:hover
    color #E6162D

.icon-zhihu
  color #518CC7
  &:hover
    color #0665C3

.icon-facebook
  color #5B709C
  &:hover
    color #3B5998

.icon-twitter
  color #4FB5F4
  &:hover
    color #1DA1F2
