.tab-content
  .cats
    margin 10px 0
    .category-list-item
      box-sizing border-box
      font-weight $font-weight-bolder
      font-size $font-size-larger
      padding  13px 0
      border-bottom 1px dashed #d9d9d9
      .category-list-count
        font-weight $font-weight-normal
        &:after
          content ')'
        &:before
          content ' ('