.index-content
  position relative
  height auto
  .lists-item
    border-bottom 1px dashed #d9d9d9
    padding 10px 0
    font-size $font-size-base
    .title
      font-size $font-size-larger
      font-weight $font-weight-bolder
  .pagination
    position absolute
    right 0
    span.page-number
      background-color $davygrey
      color $whitesmoke
    a.page-number
      text-decoration underline
    .page-number
      padding 5px 10px
      font-size $font-size-large
      margin 0 15px
  .extend
    font-size $font-size-large



//-------------------------------
//@media $mq-mobile
.index-content
  .pagination
    text-align center
    width 80%
    margin-bottom 30px
    position static
    margin-left auto
    margin-right auto
    display block
