.mb-headbar
  .headbar-menu
   float left
  .header-right-btn-group
    height 100%
    position absolute
    top 0
    right 0


.mb-headbar
  .home-btn
    width 40px
    margin 0 auto
  a.btn
    color $orange
    padding 0 10px
    line-height 45px
    i
      font-size $font-size-larger