.post-container
  min-height 100%
  width auto
  margin-left 40px
  position relative
  .wrapper
    width 700px
    margin 0 auto
    .article
      padding 80px 10px 10px 10px
      margin 0
      .article-header
        text-align center
        margin 40px
        span
          font-size $font-size-base
