.post-container
  min-height 100%
  width auto
  margin-left 40px
  position relative
  .wrapper
    max-width 700px
    margin 0 auto 100px auto
    .article
      padding 80px 10px 60px 10px
      margin 0
      .article-header
        text-align center
        margin 40px
        span
          font-size $font-size-base

.post-container
  .post-toc
    position fixed
    right 1%
    top 60px
    padding 5px
    box-sizing border-box
    max-width 200px
    font-size $font-size-base
    border 1px solid $gainsboro
    border-radius 5%
    background-color $whitesmoke
    box-shadow 0 1px 3px #DADADA
    z-index $zindex-5
    opacity 1
    transition top 0.5s, opacity 0.4s

.post-toc.close
  top -260px
  opacity 0
  transition top 0.5s, opacity 0.4s

.post-toc-content
  .nav-item
    a.nav-link
      font-weight $font-weight-bolde
      font-style italic
      &:hover
        color $orange
        transition 0.2s
    .nav-child
      padding-left 5px

.post-container
  .loading
    margin 80px auto
    transition 1s
    .loading-text
      width 300px
      font-size $font-size-small
      margin 0 auto
      text-align center
      color $orange
    .spinner {
      margin: 0 auto;
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 10px;
    }

    .spinner > div {
      background-color: $orange;
      height: 100%;
      width: 6px;
      display: inline-block;

      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
      0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }
      20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }

a.scroll.nav-link.on
  color $orange
  transition 0.1s

a.scroll.nav-link
  transition 0.1s

.post-container
  .left-fixed-btn.hide
    display none
  .left-fixed-btn
    position fixed
    right 60px
    bottom 60px
    box-shadow 0 1px 3px #DADADA
    a
      display block
      vertical-align middle
      width 40px
      height 40px
      text-align center
      border 1px solid #eeeeee

      &:hover
        color $orange
      i
        line-height 40px

@media $mq-mobile
  .header
    display none
  .post-toc
    display none

@media $mq-mobile
  .container
    .post-container
      margin-left 0
      padding 0 20px
      .left-fixed-btn
        right 10px